<h2 class="text-center registration_header"><%= t('common.sign_up') %></h2><hr><br />

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="registration_fields_containe">

  <div class="registration_divs col-md-9">
    <%= f.label :first_name , :class => 'pull-right col-md-2'%>
    <%= f.text_field :first_name, :autofocus => true, :class => 'form-control pull-right', :id => 'registration_text_fields' %>
  </div>

  <div class="registration_divs col-md-9">
    <%= f.label :last_name , :class => 'pull-right col-md-2'%>
    <%= f.text_field :last_name, :class => 'form-control pull-right', :id => 'registration_text_fields' %>
  </div>

  <div class="registration_divs col-md-9">
    <%= f.label :nickname , :class => 'pull-right col-md-2'%>
    <%= f.text_field :nickname, :class => 'form-control pull-right', :id => 'registration_text_fields' %>
  </div>

  <div class="registration_divs col-md-9">
    <%= f.label :birth_date , :class => 'pull-right col-md-2'%>
    <%= select_tag :birth_day, options_from_collection_for_select(@days, :last, :first) , :class => 'pull-right form-control' , :id => 'registration_day_select' %>
    <%= select_tag :birth_month, options_from_collection_for_select(@months,'first','last'), :class => 'pull-right form-control' , :id => 'registration_month_select' %>
    <%= select_tag :birth_year, options_from_collection_for_select(@years,'first','last'), :class => 'pull-right form-control' , :id => 'registration_year_select' %>
  </div>

  <div class="registration_divs col-md-9">
    <%= f.label :email , :class => 'pull-right col-md-2'%>
    <%= f.email_field :email, :class => 'form-control pull-right', :id => 'registration_text_fields' %>
  </div>

  <div class="registration_divs col-md-9">
    <%= f.label :password, :class => 'pull-right col-md-2'%>
    <%= f.password_field :password, :class => 'form-control pull-right', :id => 'registration_text_fields' %>
  </div>

  <div class="registration_divs col-md-9">
    <%= f.label :password_confirmation, :class => 'pull-right col-md-2' %>
    <%= f.password_field :password_confirmation, :class => 'form-control pull-right', :id => 'registration_text_fields' %>
    <br><br><br>
  </div>

  <div class="col-md-6 col-sm-8 pull-right">
    <%= f.submit t('common.sign_up'), :class => 'btn btn-success' %><br><br>
    <%= link_to t('common.sign_in'), new_session_path(resource_name), :class => 'btn btn-info', :style => 'width: 10%;' %>
  </div>
</div>

<% end %>

<script>

//	$( "form#new_user" ).submit(function( event ) {
//      var year = $('#registration_year_select').val();
//		var count = 0;
//		password = $('#user_password').val();
//		count += /[a-z]/.test(password) ? 1 : 0;
//		count += /[A-Z]/.test(password) ? 1 : 0;
//		count += /\d/.test(password) ? 1 : 0;
//
//		if(count < 3) {
//			event.preventDefault();
//		}
//	});
</script>



